.section {
  padding: 5rem 0;
  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 4.5rem;
      font-weight: 500;
      color: #fff;
      transition: all 0.3s ease-in-out;
      user-select: none;

      &:hover {
        color: #4a00ca;
        text-shadow: 0 0 10px #4a00cabb, 0 0 20px #4a00cadd, 0 0 50px #4a00caff;
      }
    }
    .cards-list {
      width: 100%;
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;

      .card {
        width: 320px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border: 2px solid #333;
        overflow: hidden;
        border-radius: 1rem;
        .card-info {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          color: #fff;
          padding: 2rem;
          gap: 1.2rem;

          .info {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.5rem;

            h2 {
              font-size: 1rem;
              font-weight: 300;

              span {
                font-weight: 600;
              }
            }
            p {
              font-size: 1rem;
              font-weight: 300;
            }
          }
          .btns {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            button {
              padding: 0.4rem 1.2rem;
              color: #fff;
              outline: none;
              border: none;
              border-radius: 0.5rem;
              cursor: pointer;
              transition: all 0.3s ease-in-out;

              &:hover {
                text-shadow: 0 0 5px #fffc, 0 0 15px #fffa;
              }

              &:active {
                transform: scale(0.95);
              }
            }

            .delete-btn {
              background-color: rgb(180, 0, 0);

              &:hover {
                box-shadow: 0 0 10px rgba(180, 0, 0, 0.8),
                  0 0 20px rgba(180, 0, 0, 0.6);
              }
            }
            .edit-btn {
              background-color: rgb(180, 120, 0);

              &:hover {
                box-shadow: 0 0 10px rgba(180, 120, 0, 0.8),
                  0 0 10px rgba(180, 120, 0, 0.6);
              }
            }
          }
        }
      }
    }
    .modal-window {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-direction: column;
      width: 500px;
      background: #000;
      height: 350px;
      flex-wrap: wrap;
      padding: 2rem;

      div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;

        input{
          width: 200px;
          padding: .4rem .6rem;
          outline: none;
          border: 1px solid #333;
          background-color: #222;
          border-radius: .5rem;
          font-size: .8rem;
          font-weight: 600;
          color: #fff;
        }
      }

      button{
        
      }
    }
  }
}
